.footer
	full-width()
	position relative
	z-index 20
	color #a3a3a3
	overflow hidden
	background black
	border-top 1px solid #212121
	min-height 65px
	padding 22px 0 13px
	font-weight bold
	text-transform uppercase
	font-size 10px
	.copyright
		position relative
		top 4px
		@media (min-width: scr_sm)
			top 0
	.contacts
		span
			white-space no-wrap
	a
		color #a3a3a3
		text-decoration: underline
		&:hover
			color blue
	.map
		full-width()
		@media (min-width: scr_md)
			text-align center
	.social
		padding-left 0
		text-align right
		@media (min-width: scr_sm)
			padding-left 20px
			text-align left
		&__item
			middle()
			opacity .5
			text-align: center
			t(opacity)
			width 14px
			height 14px
			margin 0 4px
			position relative
			@media (min-width: scr_sm)
				width 23px
				height 23px
				top 0
				margin 0 2px
				line-height 23px

			&:hover
				opacity 1
			svg
				middle()
				max-height 100%
				max-width 100%
	.radia
		float right
		t(opacity)
		opacity .5
		display none
		.index &
			@media (min-width: scr_sm)
				display block
		&:hover
			opacity 1
		svg
			max-height 27px
			max-width 27px
			margin-right: 10px
			float left
		&__content
			font-weight normal
			float left
			color #fff
			text-decoration: none
	.contacts, .map, .address
		display none
		@media (min-width: scr_sm)
			display block